.event-description {
  width: 65%;
}

.event-image-container {
}

.event-image {
  width: 100%;
  height: 100%;
}

.event-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.event-details-header {
}

.event-name-container {
  font-family: 'Noto Sans';
  text-align: left;
}

.event-name {
  font-size: 30px;
  font-weight: 400;
  color: #4A4A4A;
}

.event-right-side-container {
  width: 30%;
  float: right;
  margin-top: -135px;
}
